{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="w-4/5 mx-auto bg-white border rounded-lg shadow p-6 space-y-8">

    <!-- Заголовок -->
    {% if user.id == object.id %}
    <div class="flex flex-row justify-between border-b pb-2 items-center">
        <p class="text-2xl font-semibold">Профиль пользователя</p>
        <a href="{% url 'app:edit_profile' user.id %}" class="bg-gray-200 p-2 rounded-lg">Редоктировать профиль</a>
    </div>
    {% else %}
    <div class=" border-b pb-2">
        <p class="text-2xl font-semibold">Профиль пользователя</p>
    </div>
    {% endif %}

    <!-- Аватар и имя -->
    <div class="flex items-center space-x-6">
        <img src="{{ object.get_user_image_url }}"
             alt="avatar" class="w-24 h-24 rounded-full object-cover border shadow">
        <div>
            <h2 class="text-xl font-bold">{{ object.first_name }} {{ user.last_name }}</h2>
            <p class="text-sm text-gray-500">@{{ object.username }}</p>
        </div>
    </div>

    <!-- Контактная информация -->
    <div class="space-y-2">
        <div>
            <span class="font-medium text-gray-700">Email:</span>
            <span class="text-gray-800">{{ object.email }}</span>
        </div>
        <div>
            <span class="font-medium text-gray-700">Телефон:</span>
            <span class="text-gray-800">{{ object.phone }}</span>
        </div>
        <div>
            <span class="font-medium text-gray-700">Дата регистрации:</span>
            <span class="text-gray-800">{{ object.date_joined|date:"d.m.Y" }}</span>
        </div>
    </div>

</div>
{% if object == user %}
<div class="w-4/5 p-2 bg-blue-100 mx-auto rounded-lg font-bold " style="height:50px; width:800px">
    <a class="w-full h-full flex justify-center items-center cursor-pointer" href="{% url 'app:write_post' %}">Добавить
        пост</a>
</div>
<div class="w-4/5 mx-auto bg-red-600 border rounded-lg shadow  space-y-8 ">
    <a class="p-2 w-full h-hull flex justify-center items-center hover:bg-gray-100 duration-300"
       href="{% url 'app:logout' %}">Выйти</a>
</div>
{% else %}
<div class="w-4/5 mx-auto bg-white border rounded-lg shadow  space-y-8 ">
    <a class="p-2 w-full h-hull flex justify-center items-center hover:bg-gray-100 duration-300"
       href="{% url 'chats:start_chat' object.id %}">Перейти в чат</a>
</div>
{% endif %}

<ul>
    {% for post in posts %}
    <li class="w-4/5 p-2 bg-blue-100 mx-auto rounded-lg mt-7" style="mix-height:100px; width:800px ">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row gap-2 items-center mt-5 ml-5">
                <img class="h-12 w-12 rounded-full shadow-2xl" src="{{ object.get_user_image_url }}" alt="user_photo">
                <span>{{object.get_full_name}}</span>
            </div>
            <div>
                {% if user == post.user %}
                <a href="{% url 'app:edit_post' post.id %}"
                   class="flex flex-row gap-2 items-center mt-5 mr-5 bg-gray-400 p-1 rounded-md cursor-pointer">Edit
                    Post</a>
                {% else %}
                {% endif %}
            </div>

        </div>
        <div class="break-words m-5 bg-blue-200 rounded-xl p-2">
            <p>{{post.text}}</p>
        </div>
        <div class="m-5 flex flex-row gap-5 justify-between">
            <div class="flex flew-row gap-3">
                <div class="flex flew-row gap-3">
                    <div class="flex flex-row gap-2 items-center p-2  rounded-md text-md"><p>{{ post.likes_amount }}</p>
                        <img style="height:25px" src="/static/icons/like.png" alt="Иконка лайков"></div>
                    <a href="{% url 'app:toggle_reaction' post.id %}"
                       class="p-2 bg-gray-300 rounded-md text-md hover:bg-gray-400 duration-300 cursor-pointer">Лайк</a>
                </div>
                <div class="flex flew-row gap-3">
                    <div class="flex flex-row gap-2 items-center p-2  rounded-md text-md"><p>{{ post.comments_amount
                        }}</p> <img style="height:25px" src="/static/icons/comments.png" alt="Иконка комментариев">
                    </div>
                    <a href="{% url 'app:post_comments' post.id %}"
                       class="p-2 bg-gray-300 rounded-md text-md hover:bg-gray-400 duration-300 cursor-pointer">Комментарии</a>
                </div>
            </div>
            <div class="flex flew-row gap-3 items-center">
                <p>{{ post.created_at }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
